@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 3rem;
}

h3,
h4,
h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

p,
li {
  font-size: 1.2rem;
}

hr {
  @apply my-6 border-black border-t;
}

a:hover,
button:hover {
  letter-spacing: 0.3rem;
  transition: all 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

a,
button {
  transition: all 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.active-page {
  letter-spacing: 0.3rem;
}

img {
  height: auto;
  max-height: 100%;
}

.prose a {
  @apply underline;
}

/* logo */

.eis {
  @apply right-2;
}

.soft {
  @apply left-2;
}

/* keyframes */

.fade-in {
  @apply opacity-0;
  animation-name: fade-in;
  animation-duration: 0.3s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .fade-out {
    animation-name: fade-out;
    animation-duration: 0.2s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* shimmering text */

.shimmer {
  color: rgba(255, 255, 255, 0.1);
  /* the shimmer magic */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#222),
    to(#222),
    color-stop(0.5, #fff)
  );
  background: -moz-gradient(
    linear,
    left top,
    right top,
    from(#222),
    to(#222),
    color-stop(0.5, #fff)
  );
  background: gradient(
    linear,
    left top,
    right top,
    from(#222),
    to(#222),
    color-stop(0.5, #fff)
  );
  -webkit-background-size: 60px 100%;
  -moz-background-size: 60px 100%;
  background-size: 60px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-ms-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

/* snipcart */

/* snipcart css */

.snipcart-overwrite #snipcart-main-container span.snipcart-unit-price,
.snipcart-overwrite #snipcart-main-container span.snipcart-total-price,
.snipcart-overwrite
  #snipcart-main-container
  table.snipcart-list
  span.snipcart-product-name,
.snipcart-overwrite
  #snipcart-main-container
  table.snipcart-list
  span.snipcart-shipping-method-name,
.snipcart-overwrite
  #snipcart-main-container
  table.snipcart-list
  span.snipcart-shipping-method-price,
.snipcart-overwrite
  #snipcart-main-container
  table.snipcart-list
  span.snipcart-confirm-item-quantity,
.snipcart-overwrite
  #snipcart-main-container
  table.snipcart-list
  span.snipcart-confirm-item-price,
.snipcart-overwrite
  #snipcart-main-container
  table.snipcart-list
  span.snipcart-confirm-item-total-price,
.snipcart-overwrite #snipcart-main-container label,
.snipcart-overwrite ul#snipcart-steps li span.snipcart-step-text,
.snipcart-overwrite #snipcart-main-container table.snipcart-list th,
.snipcart-overwrite #snipcart-main-content .snipcart-column span.snipcart-title,
.snipcart-overwrite table#snipcart-confirm-prices tr td span,
.snipcart-overwrite
  #snipcart-main-container
  .snipcart-full-width-text
  span.snipcart-title,
.snipcart-overwrite #snipcart-main-container .snipcart-full-width-text,
.snipcart-overwrite
  #snipcart-step-content-emptycart
  .snipcart-full-width-text
  p,
.snipcart-overwrite #snipcart-blocked .snipcart-full-width-text p,
.snipcart-overwrite #snipcart-header #snipcart-total span,
.snipcart-overwrite #snipcart-header #snipcart-title {
  font-family: "uncut", sans-serif;
}

.snipcart-cart-button--highlight,
.snipcart__box--badge-highlight {
  @apply bg-primary text-black;
}

.snipcart__actions--link {
  @apply text-black;
}

.snipcart-cart-header__icon path,
.snipcart-modal__close-icon path {
  @apply fill-black;
}

.snipcart__icon--red path {
  /* fill: #e2bad2; */
}

.snipcart-checkout {
  cursor: pointer;
}

.snipcart-base-button {
  @apply bg-primary rounded-full text-black;
  transition: all 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.snipcart-base-button:hover {
  @apply bg-primary shadow-none text-black;
}
